<br><br>
<b><font size=100>PANDAS</font></b>
<br>
<br>
By अंkur गोswami
____

In [1]:
import numpy as np
import pandas as pd

# Series:
____
Series are 1-Dimensional pandas data structure.

## Creating Series:
Series can be created using ``pandas.Series()`` function. The function mainly takes two arguments Data & Index.

In [2]:
pd.Series(data=[10,20,30])

0    10
1    20
2    30
dtype: int64

In [3]:
pd.Series(data=[10,20,30],index=['a','b','c'])

a    10
b    20
c    30
dtype: int64

#### Using Dictionary:

In [4]:
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

## Accessing elements:

In [5]:
Series=pd.Series(data=[10,20,30],index=['a','b','c'])

### Bracket method:

In [6]:
Series['b']

20

### Dot method:

In [7]:
Series.b

20

### loc/iloc method:

In [8]:
Series.loc['b']

20

In [9]:
Series.iloc[1]

20

<b>Note:</b> Try avoiding ``Dot method`` as the index might be of same name as of a method in pandas.

## Mathematical Operations on Series:
Mathematical Operations on Series is same as mathematical operations on NumPy. <a href='NumPy.ipynb#Mathematical_operations'>Click Here</a> to jump to Mathematical Operations section of NumPy.
____

# DataFrames:
____
DataFrames are 2-Dimensional pandas data structure.

## Creating DataFrames:
DataFrames can be created using ``pandas.DataFrame()`` function. The function mainly takes three arguments Data, Index & Column.

In [10]:
pd.DataFrame(np.random.randn(5,4))

          0         1         2         3
0 -0.034480  0.036842 -1.314769 -2.787590
1 -1.133094  1.307936  0.629489 -0.108109
2  1.117439  1.135817 -0.693638 -0.330984
3  0.080641  0.831024  2.044520  0.843430
4 -0.295829  0.675244  0.068262 -0.973672

In [11]:
a=pd.DataFrame(data=np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

#### Using Dictionary:
The innermost dictionary represents a column.

In [12]:
pd.DataFrame({'W':{'A':1,'B':2,'C':3},'X':{'A':4,'B':5,'C':6},'Y':{'A':7,'B':8,'C':9}})

   W  X  Y
A  1  4  7
B  2  5  8
C  3  6  9

Note: We can also use list/tuple in place of internal dictionary.

`.info()` method is used to return details of the dataframe.

In [13]:
Dataframe.info()

NameError: name 'Dataframe' is not defined

## Accessing elements:

In [ ]:
Dataframe=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

### Accessing Columns:

#### Bracket method:

In [ ]:
Dataframe['W']

#### Dot method:

In [ ]:
Dataframe.W

NOTE: Try avoiding ``Dot method`` as the index might be of same name as of a method in pandas.

### Accessing Rows:

In [ ]:
Dataframe.loc['A']

<b>Note:</b> A better way to access rows is by using `iloc`

In [ ]:
Dataframe.iloc[1:3]

### Accessing Individual Elements:

#### Single Bracket method:

In [ ]:
Dataframe.loc['C','X']

In [ ]:
Dataframe.iloc[2:4,1:]

#### Double Bracket method:

In [ ]:
Dataframe.loc['C']['X']

In [ ]:
Dataframe['X']['C']

### Fancy Indexing:

In [ ]:
Dataframe[['X','W']]

In [ ]:
Dataframe.loc[['C','A']]

## Inserting Columns:
``.insert()`` method of the dataframe is used to insert new columns. The function takes mainly three arguments location, column and value. ``location`` is index before which column is to be added and is an integer value. ``column`` is column name & ``value`` is entries in the column.

In [ ]:
Dataframe.insert(2,'K',[10,20,30,40,50])
Dataframe

## Deleting Columns/Rows:
``.drop()`` method of the dataframe is used to delete columns/rows. The function takes mainly three arguments column/row, axis and inplace value. ``column/row`` is name of column/row is to be deleted. ``axis`` defines whether it is a column or a row. For row, axis=0 and for column, axis=1 & ``inplace`` value determines whether the changes will be reflected in original dataframe or not.

In [ ]:
Dataframe.drop('K',axis=1,inplace=True)
Dataframe

In [ ]:
Dataframe.drop('C',axis=0,inplace=False)

In [ ]:
Dataframe

## Mathematical Operations on DataFrames:
Mathematical Operations on DataFrames is same as mathematical operations on NumPy. <a href='NumPy.ipynb#Mathematical_operations'>Click Here</a> to jump to Mathematical Operations section of NumPy.

## Resetting Index:
`.reset_index()` method resets indices to conventional indices 0,1,2,3,...

In [ ]:
Dataframe.reset_index(inplace=True)

In [ ]:
Dataframe

## Setting Index:
`.set_index()` method sets a particular column `keys` to indices.

In [ ]:
Dataframe.set_index('index',inplace=True)

In [ ]:
Dataframe

## Converting Categories to Dummies:
`pd.get_dummies()` function is used to convert categorical data into dummy variables. It deals with Dummy Variable Trap.

In [ ]:
df=pd.DataFrame(['Male','Female','Male','Male','Female'],columns=['Sex'])
df

In [ ]:
pd.get_dummies(df['Sex'])

## Multi-level Indexing:

In [ ]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))

In [ ]:
hier_index=pd.MultiIndex.from_tuples(hier_index)
hier_index

In [ ]:
Multidf=pd.DataFrame(data=np.random.randn(6,3),index=hier_index,columns=['A','B','C'])
Multidf

### Accessing elements:

In [ ]:
Multidf.loc['G1'].loc[3]

In [ ]:
Multidf['A']

### Setting index/column names:

In [ ]:
Multidf.index.names=['Groups','Num']
Multidf

In [ ]:
Multidf.columns.names=['Letters']
Multidf

### Cross-Section:

In [ ]:
Multidf.xs(2,level='Num')

## Handing missing Data:

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

### Dropna method:
`.dropna()` method mainly takes three arguments, axis, thresh and inplace. This method returns series along `axis` provided having atleast `thresh` number of non-nan values.

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2,axis=1)

### Fillna method:
`.fillna()` mainly takes three arguments, value, axis and inplace. This method replaces nan values along `axis` provided with `value` given.

In [ ]:
df.fillna(value="FILLED",axis=1)

In [ ]:
for i in range(3):
    df.iloc[:,i].fillna(np.mean(df.iloc[:,i]),inplace=True)
df

## Groupby:
The groupby method allows you to group rows of data together and call aggregate functions

In [ ]:
dframe=pd.DataFrame(data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
                            'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
                            'Sales':[200,120,340,124,243,350]})
dframe

In [ ]:
grp_dframe=dframe.groupby('Company')

### Operations on groups:

`.describe()` method returns every information of every group like count, mean, standard deviation, minimum, maximum,etc.

In [ ]:
grp_dframe.describe()

`.sum()` method returns sum of values of each group.

In [ ]:
grp_dframe.sum()

`.max()` method returns maximum value in each group.

In [ ]:
grp_dframe.max()

## Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating.

### Concatenation:
Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

### Merging:

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together.

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,how='inner',on='key')

Or to show a more complicated example:

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

### Joining:
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

## Other Operations:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

### Unique Values:

`.unique()` method returns unique values in a series.

In [ ]:
df['col2'].unique()

`.nunique()` method returns number of unique values in a series.

In [ ]:
df['col2'].nunique()

`.value_count()` method counts for each value in a series.

In [ ]:
df['col2'].value_counts()

### Sorting:

In [ ]:
df.sort_values(by='col2')